.form-vertical .control-group {
  margin-bottom: 10px;
  *zoom: 1;
}
.form-vertical  .control-group:before, .form-vertical  .control-group:after {
  display: block;
  content: "";
}
.form-vertical .control-group:after {
  clear: both;
}
.form-vertical  .control-group  label {
  float: none;
  width: auto;
  padding-top: 5px;
  text-align: left;
}
.form-vertical  .controls,
.form-inline .controls {
  margin-left: 0;
}
.form-vertical .form-actions {
  padding: none;
}
.form-inline .control-group {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
}
.form-inline  .control-group  label {
  float: none;
  width: auto;
  text-align: left;
}

.field-list-item {
  position: relative;
  min-height: 20px;
  background-color: whiteSmoke;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 6px 0 0 6px;
  margin-bottom: 6px;
}

.field-list-item .add-item,
.field-list-item .remove-item {
  position: absolute;
  top: -9px;
  z-index: 10;
  cursor: pointer;
}

.field-list-item .add-item {
  right: 10px;
}

.field-list-item .remove-item {
  right: -8px;
}

#full_name, #position, #profession {
  width: 600px !important;
}

.alert {
  text-align: center !important;
}

td .action {
  margin: 0 3px 0 3px;
}

.ajax-loader {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url('/static/img/ajax-loader.gif');
  position: relative;
  top: 5px;
  margin-left: 10px;
}