# -*- coding: utf-8 -*-
<div class="navbar">
    <div class="navbar-inner">
        <div class="container" style="width:auto;">
            <a class="brand" href="/admin">BTS</a>
            <ul class="nav">
                <!-- <li><a href="/admin/organization/list">Учебные заведения</a></li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown">
                        Учебные заведения<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/organization/list"><i class="icon-th-list"></i>&nbsp;Список</a></li>
                        <li><a href="/admin/organization/create"><i class="icon-plus-sign"></i>&nbsp;Добавить</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown">
                        Преподаватели<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/tutor/list"><i class="icon-th-list"></i>&nbsp;Список</a></li>
                        <li><a href="/admin/tutor/create"><i class="icon-plus-sign"></i>&nbsp;Добавить</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown">
                        Группы<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/group/list"><i class="icon-th-list"></i>&nbsp;Список</a></li>
                        <li><a href="/admin/group/create"><i class="icon-plus-sign"></i>&nbsp;Добавить</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown">
                        Студенты<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/student/list"><i class="icon-th-list"></i>&nbsp;Список</a></li>
                        <li><a href="/admin/student/create"><i class="icon-plus-sign"></i>&nbsp;Добавить</a></li>
                    </ul>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown">
                        Вопросы<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="/admin/question/list"><i class="icon-th-list"></i>&nbsp;Список</a></li>-->
                        <li><a href="/admin/question/create"><i class="icon-plus-sign"></i>&nbsp;Добавить</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown">
                        Шаблоны<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/template/create"><i class="icon-plus-sign"></i>&nbsp;Добавить</a></li>
                    </ul>
                </li>
                </li>
            </ul>
            ${current_user | render_profile_menu}
        </div>
    </div>
</div>
% if flash:
    % if 'error' in flash:
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">×</a>
            % for msg in flash['error']:
                ${msg}<br>
            % endfor
        </div>
    % endif
    % if 'notice' in flash:
        <div class="alert alert-warning">
            <a class="close" data-dismiss="alert" href="#">×</a>
            % for msg in flash['notice']:
                ${msg}<br>
            % endfor
        </div>
    % endif
    % if 'info' in flash:
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert" href="#">×</a>
            % for msg in flash['info']:
                ${msg}<br>
            % endfor
        </div>
    % endif
    % if 'success' in flash:
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert" href="#">×</a>
            % for msg in flash['success']:
                ${msg}<br>
            % endfor
        </div>
    % endif
% endif
